<%= link_to business_path(business) do %>
<div class="business card">
	<h2><%= business.name %></h2>
	<% if business.image.present? %>
		<%= image_tag business.image %>
	<% end %>
	<% if business.address.present? %>
		<h5><%= business.address %> | <%= business.phone %></h5>
	<% end %>
	<% if business.description.present? %>
		<p class="description"><%= business.description %></p>
	<% end %>
</div>
<% end %>