<h1><%= @business.name %></h1>
<% content_for :title do %><%= @business.name %><% end %>

<% if params[:admin] == @ADMIN_PASS %>
	<%= link_to 'Edit', edit_business_path(:admin => @ADMIN_PASS) %> |
	<%= link_to 'Delete', business_path(:admin => @ADMIN_PASS),
		method: :delete,
		data: {confirm: 'Are you sure you want to delete this listing?'} %>
	<br>
<% end %>
<% if @business.image.present? %>
	<%= image_tag @business.image, width: 500 %>
<% end %>

<div id="details">
	<% if @business.description.present? %>
		<p><%= @business.description %></p>
	<% end %>
	<% if @business.address.present? %>
		<p>Location: <%= @business.address %></p>
	<% end %>
	<p>Phone: <%= @business.phone %></p>
	<% if @business.fax.present? %>
		<p>Fax: <%= @business.fax %></p>
	<% end %>
	<% if @business.website.present? %>
		<p><%= link_to "Website", @business.website %></p>
	<% end %>
	<% if @business.address.present? %>
		<iframe width="600" height="450" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCNCZ0Twm_HFRaZ5i-FuPDYs3rLwm4_848&q=<%= @business.address %>, Lexington MA">
	<% end %>
</iframe>
</div>
<hr>
Category: <%= link_to @business.category.name, category_path(@business.category) %>