<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= yield :title %> | Lex.ma Directory</title>
	<meta charset="utf-8">
	<meta name="description" content="View a searchable directory of Lexington, MA businesses and organizations.">
	<meta name="author" content="Derik Kauffman">
	<meta name="zipcode" content="02420,02421">

	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#1f7cdb" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<%= stylesheet_link_tag    'application', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
<nav>
	<%= link_to 'Lex.ma', 'https://lex.ma' %>
	<%= link_to 'Businesses', root_path %>
	<%= link_to 'Categories', categories_path %>
</nav>

<%= yield %>

</body>
</html>
